---
title: Park City Trail Club
---

<%= Time.now %>

<section class="mission">
  <h3 class="mission-title">Our Mission</h3>
  <div class="mission-statement"><%= dato.main_page.mission %></div>

  <div class="stats-container">
    <div class="team-stats mdl-grid">
      <div class="stat-group mdl-cell mdl-cell--8-col-tablet mdl-cell--4-col-phone">
        <h3 class="number"><%= dato.main_page.number_of_runs %></h3>
        <i class="material-icons">event</i>
        <div class="stat-desc">Sunday Runs</div>
      </div>

      <div class="stat-group mdl-cell mdl-cell--8-col-tablet mdl-cell--4-col-phone">
        <h3 class="number"><%= dato.main_page.number_of_runs %></h3>
        <i class="material-icons">directions_run</i>
        <div class="stat-desc">Miles of Trail</div>
      </div>

      <div class="stat-group mdl-cell mdl-cell--8-col-tablet mdl-cell--4-col-phone">
        <h3 class="number"><%= dato.main_page.number_of_members %></h3>
        <i class="material-icons">people</i>
        <div class="stat-desc">Members</div>
      </div>

    </div>
  </div>
</section>

<section class="community">
  <h3 class="community-title">Our Community</h3>
  <div class="community-statement"><%= markdown dato.main_page.community %></div>
  <div class="community-image-container">
    <div class="community-image">
      <%= image_tag 'https://www.datocms-assets.com/12570/1570917987-6529979024100582292281591296274434771910656n.jpg' %>
    </div>
  </div>
</section>

<section class="meeting">
  <h3 class="meeting-title">Where We Meet</h3>
  <div class="meeting-location"><%= markdown dato.main_page.meeting_information %></div>
  <div class="map">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3022.5545909592943!2d-111.5741982484278!3d40.74982537922633!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8752697d1526be6f%3A0x82718b1830ff3434!2sBreakfast%20at%20Dana&#39;s!5e0!3m2!1sen!2sus!4v1571170940348!5m2!1sen!2sus" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
  </div>
</section>

<section class="landing-page-footer">
  Copyright 2019 Park City Trail Club
</section>
