---
title: Park City Trail Club
---

<section class="mission">
  <h3 class="mission-title">Our Mission</h3>
  <div class="mission-statement"><%= dato.main_page.mission %></div>

  <div class="stats-container">
    <div class="team-stats mdl-grid">
      <div class="stat-group mdl-cell mdl-cell--8-col-tablet mdl-cell--4-col-phone">
        <h3 class="number number-of-runs">
        </h3>
        <i class="material-icons">event</i>
        <div class="stat-desc">Sunday Runs</div>
      </div>

      <div class="stat-group mdl-cell mdl-cell--8-col-tablet mdl-cell--4-col-phone">
        <h3 class="number number-of-miles-run"></h3>
        <i class="material-icons">directions_run</i>
        <div class="stat-desc">Miles of Trail Run</div>
      </div>

      <div class="stat-group mdl-cell mdl-cell--8-col-tablet mdl-cell--4-col-phone">
        <h3 class="number"><%= dato.main_page.number_of_members %></h3>
        <i class="material-icons">people</i>
        <div class="stat-desc">Members</div>
      </div>

    </div>
  </div>
</section>

<section class="community">
  <h3 class="community-title">Our Community</h3>
  <div class="community-statement"><%= markdown dato.main_page.community %></div>
  <div class="community-image-container">
    <div class="community-image">
      <%= image_tag 'https://www.datocms-assets.com/12570/1570917987-6529979024100582292281591296274434771910656n.jpg' %>
    </div>
  </div>
</section>

<section class="meeting">
  <h3 class="meeting-title">Where We Meet</h3>
  <div class="meeting-location"><%= markdown dato.main_page.meeting_information %></div>
  <div class="map">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3023.725468532119!2d-111.5435108839507!3d40.72405964481352!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x875272bd4aefa585%3A0xf9d944323442a417!2sPark%20City%20Coffee%20Roaster!5e0!3m2!1sen!2sus!4v1638834502420!5m2!1sen!2sus" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
  </div>
</section>

<section class="landing-page-footer">
  Copyright 2022 Park City Trail Club
</section>

<script>
  $( document ).ready(function() {
    var a = moment("2015-03-07");
    var b = moment();
    var numRuns = Math.abs(a.diff(b, 'weeks'));
    var milesRun = 8*numRuns;
    $('.number-of-runs').text(numRuns);
    $('.number-of-miles-run').text(milesRun);
  });
</script>
